/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	/*min-width: 1307px;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	font-size: 16px;
	/*Base-width for percentages in 1440px*/
}
a{
	text-decoration: none;
	color: inherit;
}

















.homeSec1{
	width:100%;
	height:600px;
	background: url(firstImg.jpg) no-repeat center center;
	-webkit-background-size: cover;  
  	-moz-background-size: cover;  
  	-o-background-size: cover;  
  	background-size: cover;
  	overflow: hidden;
  	position: relative;
}
.mainNav{
	width: 100%;
	height: 75px;
	font-size: 18px;
	background-color: #C9C9C9;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
   	letter-spacing: 3px;
}
.mainNav div, .mainNav ul, .mainNav ul li{
	display: inline-block;
}
.mainNav ul{
	float: right;
	margin-right: 130px;
	margin-top: 27px;
}
.homeSec2{
	height: 1600px;
	width: 100%;
	background-color: #FF636B;
}
.mainNav ul li:first-child{
	margin-right: 80px;
}
.navArrow{
	display: none;
}
.mainNav div{
	margin-left: 90px;
	margin-top: 27px;
}
.homeSec3{
	height: 700px;
	width: 100%;
	background-color: #FFFF7A
}

.fadeInName{
	width: 220%;
	position: absolute;
	top: 40%;
	left: -9999px;
	right: -9999px;
	margin: 0 auto;
	font-size: 200px;
	letter-spacing: 15px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: white;
	opacity: 0;
	text-align: center;
	white-space: nowrap;
	   -webkit-transition: font-size .8s ease-out, opacity 1.5s ease-out;
	  -moz-transition: font-size .8s ease-out, opacity 1.5s ease-out;
	  -o-transition: font-size .8s ease-out, opacity 1.5s ease-out;
	  transition: font-size .8s ease-out, opacity 1.5s ease-out;

}
.fadeInNameSmall{
	font-size: 120px;
	opacity: 1;
}













@media screen and (max-width: 500px){
	.navArrow img{
		width: 100%;
	}
	.navArrow{
		display: inline-block;
		width: 35px;
		height: 30px;
	   -webkit-transition: -webkit-transform .6s ease;
	  -moz-transition: -webkit-transform .6s ease;
	  -o-transition: -webkit-transform .6s ease;
	  transition: -webkit-transform .6s ease;
	}
	.navArrowClicked{
		 -moz-transform: rotate(180deg);
	   -webkit-transform: rotate(180deg);
	   -o-transform: rotate(180deg);
	   transform: rotate(180deg);
	}
	.mainNav li:nth-child(1), .mainNav li:nth-child(2){
		display: none;
	}
	.mainNav li:nth-child(3){
		margin-top: -6px;
		width: 35px;
		height: 30px;
	}
	.mainNav ul{
		margin-right: 30px;
	}
	.mainNav div{
	margin-left: 20px;
}


















