/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	/*min-width: 1307px;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
	font-size: 16px;
	/*Base-width for percentages in 1440px*/
}
a{
	text-decoration: none;
}
a {color:inherit;}      /* unvisited link */
a:visited {color:inherit;}  /* visited link */
a:hover {color:inherit;}  /* mouse over link */
a:active {color:inherit;}  /* selected link */











@font-face {
  font-family: 'Avenir';
  src: url('Avenir.ttc');
}



html, body{
  height:100%;
}


.mainContain{
	width: 320px;
	height: 100%;
	margin: 0 auto;
	background-color: white;
}
.headContain{
	background-color: #000;
	color: #fff;
	text-align: center;
	height: auto;
	font-family: 'Avenir';
	font-weight: 700;
}
.headContain .titleContain{
	padding-top: 25px;
padding-bottom: 20px;
}
.headContain .titleContain h1{
	font-size: 16px;
letter-spacing: 3px;
}
.previewContain{
	height: 255px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.previewContent{
	width: 85%;
	margin: 0 auto;
	position: relative;
	top: 40%;
}
.rowContain{
}
.psalContain{
	background-image: url('psalBG3.jpg');
}
.erbContain{
	background-image: url('erbBG2.jpg');
}
.macysContain{
	background-image: url('macysBG3.jpg');
}
.moodsnapContain{
	background-image: url('MoodsnapBG3.png');
}
.compContain{
	background-image: url('comptrollerBG2.jpg');
}
.opacityLayer{
	/*background-color: rgba(255, 255, 255, 0.65);*/
	width: 100%;
	height: 100%;
}
.logo{
	width: 100%;
	display: block;
margin: 0 auto;
}
.psalLogo, .compLogo{
	width: 150px;
}
.erbLogo, .macysLogo, .moodsnapLogo{
	width: 200px;
}
.erbContain .previewContent{
	top: 28%;
}
.moodsnapContain .previewContent{
	top: 44%;
}







